* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
    }
body{
    padding: 10px;
	height: 100%;
	display: grid;
	grid-gap: 5px;
}
h1{
    background-color: gray;
    min-height: 50px;
    width: 100%;
    font: 80px Arial;
}
p{
    background-color: darkgray;
    min-height: 50px;
    width: 100%;
    font: 40px Arial;
}

@media only screen and (max-width: 480px){
	.lg{
		display: none;
	}
	.md{
		display: none;
    }
    .sm{
        display: block;
        background-color: gold;
        min-height: 50px;
        width: 100%;
        font: 40px Arial;        
    }
}
@media only screen and (min-width: 481px){
	.lg{
		display: none;
	}
	.sm{
		display: none;
    }
    .md{
        display: block;
        background-color: gold;
        min-height: 50px;
        width: 100%;
        font: 40px Arial;
    }
}
@media only screen and (min-width: 1024px){
    .lg{
        display: block;
        background-color: gold;
        min-height: 50px;
        width: 100%;
        font: 40px Arial;
    }
    .sm{
		display: none;
	}
	.md{
		display: none;
	}
}